










.wrapper{
    background-color:#1c1d1f;
    align-content: center;
    border-radius:10px;
    margin:auto;
    padding:10px 20px 10px;

}
.ourCollection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    background-image: url("src/assets/vector.svg");
    background-repeat: no-repeat;
    background-position: 64%;
    background-size: contain;
    margin-top: 4%;

}


.sec{
    justify-content: center;
}



.title{
    color : rgb(255, 249, 239);
    justify-content: center;
    text-align: center;

}

.intro{


    color : rgb(255, 249, 239);
    justify-content: center;
    text-align: center;
    font-size:1rem;
    color: #61646b;
    margin:10px auto 20px;
    max-width: 500px;
    line-height: 1.5;
;


}
.buttons{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.collection_button ,.available_button{


    font-size: 1.2rem;
    color:white;
    background-color: #1c1d1f;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border-style: none;



}
.clicked{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color:white;
    background-color : #4d5562;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border-style: none;
}



.collection_button:hover ,.available_button:hover{
    background-color : hsl(220, 1%, 26%)
}

.displayCoffee {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}


.displayCoffee > .coffeeCard {
    flex: 1 1 250px;   /* Grow, shrink, and base width */
    max-width: 300px;  /* Limit card width */
}


@media (max-width: 1024px) {
    .displayCoffee {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
    }

    .displayCoffee > .coffeeCard {
        width: 90%;
        max-width: 400px;
    }
}


@media (min-width: 412px) and (max-width: 992px) {
    .displayCoffee {
        justify-content: space-around;
        gap: 1.5rem;
    }

    .displayCoffee > .coffeeCard {
        flex: 1 1 calc(45% - 1rem);
        max-width: 350px;
    }
}





















